@import '../../styles/variables.scss';

.newsletter-input {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  @media (max-width: 468px) {
    margin-bottom: 25px;
  }

  & > label {
    font-family: 'Roboto-Bold';
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    & > span {
      color: $error;
    }
  }

  &__correct,
  &__error {
    width: 100%;
    padding: 15px;
    outline: none;
    border-radius: 8px;
  }

  &__correct {
    border: 1px solid $grey;
  }

  &__error {
    border: 1px solid $error;
    background: $bg-error;
    color: $error;
  }
}
